@import url("Font/style.css");

:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-third: #006241;
  --color-fourth: #00754a;
  --color-fifth: #1e3932;
  --color-sixth: #cba258;
  --color-seventh: #dfc49d;
  --color-eight: #dbe6f2;
  --color-ninth: #d5d0ea;
  --color-tenth: #cee8c9;
  --color-eleventh: #f2f0eb;
  --color-twelfth: #e99264;
}

body {
  margin: 0;
  padding: 0;
  font-family: SoDo Sans, Arial, Helvetica, sans-serif;
}

header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93%;
  margin: 0 auto;
  padding: 13px;
}

nav img {
  width: 49px;
  height: 49px;
}

nav .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav .wrapper ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1.3rem;
}

nav a {
  text-decoration: none;
  color: #212121;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.point a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  text-transform: inherit;
  padding-right: 25px;
}

nav button {
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 50px;
  background-color: var(--color-primary);
  transition: 0.3s all;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

nav a:hover {
  color: var(--color-fourth);
}

nav button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav .joinnow {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

nav .joinnow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

main {
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

/*Sections*/
section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

section img {
  width: 100%;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-eight);
}

.sectionsecond .container1 {
  background-color: var(--color-ninth);
}

.sectionthird .container1 {
  background-color: var(--color-tenth);
}

.sectionfourth .container1 {
  background-color: var(--color-eleventh);
}

.sectionfourth .container1 h2 {
  color: var(--color-secondary);
  margin-bottom: 30px;
}

.sectionfourth .container1 p {
  color: var(--color-secondary);
  font-size: 19px;
  line-height: 1.7;
}

.sectionfourth .container1 a {
  background-color: var(--color-fifth);
  border-color: var(--color-fifth);
  color: var(--color-primary);
  font-weight: 500;
}

.sectionfourth .container1 a:hover {
  background-color: rgba(30, 57, 50, 0.904);
}

.sectionfifth .container1 {
  background-color: var(--color-twelfth);
}

.sectionsixth .container1 {
  background-color: var(--color-third);
}

.sectionsixth .container1 h2 {
  color: var(--color-primary);
  margin-bottom: 30px;
}

.sectionsixth .container1 p {
  color: var(--color-primary);
  font-size: 19px;
}

.sectionsixth .container1 .parag {
  margin-bottom: 30px;
}

.sectionsixth .container1 a {
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-weight: 500;
}

.container1 h1 {
  font-size: 50px;
  font-weight: 600;
  width: 517px;
  text-align: center;
  color: var(--color-fifth);
  margin: 20px;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.container1 p {
  width: 527px;
  font-size: 24px;
  text-align: center;
  color: var(--color-fifth);
  margin-top: 0;
  line-height: 1.8;
}

.container1 a {
  color: var(--color-fifth);
  min-width: 35px;
  min-height: 35px;
  margin-top: 10px;
  border: 1px solid var(--color-secondary);
  border-radius: 50px;
  padding: 0.5px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.3s all;
  background-color: transparent;
}

.container1 a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sectionseventh {
  display: block;
}

.sectionseventh .info {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.sectionseventh .info p {
  width: 700px;
  height: 101px;
  text-align: center;
  font-size: 14px;
  line-height: 1.8;
}

.sectionseventh .info p a {
  color: var(--color-secondary);
}

.sectionseventh .info p a:hover {
  text-decoration: none;
}