@import url("Font/style.css");

:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-third: #006241;
  --color-fourth: #00754a;
  --color-fifth: #1e3932;
}

body {
  margin: 0;
  padding: 0;
  font-family: SoDo Sans, Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93%;
  height: 99px;
  margin: 0 auto;
}

nav img {
  width: 49px;
  height: 49px;
}

nav .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

nav .wrapper ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1.3rem;
  margin: 0;
}

nav .wrapper ul li {
  height: 100%;
  display: flex;
  align-items: center;
}

/*Line under*/
nav .wrapper .rewards {
  box-shadow: inset 0 -6px #00754a;
}

nav a {
  text-decoration: none;
  color: #212121;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.point a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  text-transform: inherit;
  padding-right: 25px;
}

nav button {
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 50px;
  background-color: var(--color-primary);
  transition: 0.3s all;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

nav a:hover {
  color: var(--color-fourth);
}

nav button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav .joinnow {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

nav .joinnow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

main {
  width: 100%;
  margin: 0 auto;
}

#header {
  height: 50px;
  background-color: var(--color-fifth);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 4px 4px 0 #0000001f, 0 0 2px 0 #0000003d;
}

.header {
  padding-left: 131px;
  padding-right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: var(--color-primary);
}

.background-image {
  width: 1349px;
  height: 759px;
  background-color: #d4e9e2;
  background-image: url(https://www.starbucks.com/weblx/images/rewards/hero/xl-hero-desktop_2021.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.background-image .text {
  max-width: 550px;
  padding: 32px 40px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.background-image .text h2 {
  font-weight: 600;
  line-height: 1.29;
  margin: 0;
  font-size: 36px;
}

.background-image .text p {
  margin: 0;
  font-size: 19px;
  padding-top: 20px;
}

.b-joinnow {
  padding-top: 40px;
}

.b-joinnow a {
  padding: 8px 16px;
  border: 1px solid var(--color-fourth);
  border-radius: 50px;
  background-color: var(--color-fourth);
  color: var(--color-primary);
  transition: 0.3s all;
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
}

.text span {
  padding-top: 25px;
  text-decoration: none;
  font-size: 19px;
}

.text span a {
  color: var(--color-secondary);
  font-size: 19px;
}

.container {
  padding: 128px 40px 64px 40px;
}

.content {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.content h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.385;
  margin: 0;
  color: #212121;
}

.content p {
  padding-top: 16px;
  margin: 0;
  color: #212121;
}

ol {
  display: flex;
  flex-direction: row;
  margin: 0 68px;
  padding: 48px 0 0 0;
  list-style: none;
}

ol li {
  width: 33.3%;
  padding-bottom: 0;
}

ol .list1 {
  margin-right: 24px;
}

ol li .card-image {
  margin: 0 auto;
  padding-bottom: 24px;
  text-align: center;
}

ol li h3 {
  text-align: center;
  font-weight: 600;
  font-size: 19px;
  padding-bottom: 4px;
  margin: 0;
  color: #212121;
}

ol li p {
  padding-top: 16px;
  margin: 0;
  text-align: center;
  color: #212121;
}

ol li p a {
  color: var(--color-third);
}

ol .list2 {
  margin: 0 24px;
}

ol .list3 {
  margin: 0 0 0 24px;
}

.container2 {
  padding: 48px 0 0 0;
  margin: 64px 0;
  background-color: #d3e8e154;
  text-align: center;
}

.content2 {
  padding: 0 16px;
}

.content2 h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.385;
  padding: 0 0 48px 0;
  margin: 0;
}

.tablist ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  max-width: 540px;
  width: 100%;
  height: 60px;
  position: relative;
  margin: 0 auto 0 auto;
  list-style-type: none;
}

.tablist ul li {
  width: 100%;
  position: relative;
  padding: 8px 8px 21px 8px;
}

.tablist ul li span {
  font-weight: 600;
  font-size: 24px;
}

.tablist ul li .star {
  font-size: 16px;
  color: #cba258;
}

.underline {
  background: var(--color-fourth);
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
}

.coffee-image {
  background-color: #d4e9e2;
  background-image: url(https://www.starbucks.com/weblx/images/rewards/reward-tiers/25.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 375px;
  height: 211px;
  padding: 0;
  margin: 0 48px 0 0;
}

.coffee-text {
  max-width: 375px;
  padding: 0 16px;
}

.coffee-text h3 {
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  padding: 0 0 16px 0;
  margin: 0;
}

.coffee-text p {
  margin: 0;
  text-align: left;
}

.drink {
  background-color: #d4e9e2;
  box-shadow: inset 0 7px 9px -7px #00000024;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  padding: 64px 40px;
}

.content3 {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.content3 h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.385;
  margin: 0;
}

.content3 p {
  padding: 16px 0 0 0;
  margin: 0;
  font-size: 16px;
}

.container3 .cards {
  display: flex;
  flex-direction: row;
  margin: 0 68.3px;
  padding: 48px 0 0 0;
}

.cards .card {
  width: 33.3%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cards .card1 {
  margin: 0 24px 0 0;
}

.cards .card2 {
  margin: 0 24px;
}

.cards .card3 {
  margin: 0 0 0 24px;
}

.cards .image {
  margin: 0 auto;
  max-width: 128px;
  padding: 0 0 24px 0;
  text-align: center;
}

.cards .image img {
  height: auto;
  max-width: 100%;
}

.cards .image-text {
  text-align: center;
}

.cards .image-text h3 {
  font-weight: 600;
  font-size: 19px;
  padding: 0 0 4px 0;
  margin: 0;
  text-align: center;
}

.cards .image-text p {
  padding: 16px 0 0 0;
  margin: 0;
  text-align: center;
}

.cards .image-text button {
  min-width: 24px;
  min-height: 24px;
  margin: 16px 0;
  color: var(--color-third);
  text-align: center;
  background: #0000;
  border: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
}

.container4 {
  margin: 64px 0 0 0;
  padding: 48px 40px;
  background-color: #f2f0eb;
}

.content4 {
  width: 50%;
  padding: 0 0 64px 0;
  margin-left: 25%;
  margin-bottom: 24px;
  text-align: center;
}

.content4 h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.385;
  padding: 0 0 16px 0;
  margin: 0;
}

.content4 p {
  margin: 0;
}

.griditems {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: left;
}

.griditems .grid {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  vertical-align: top;
}

.griditems .grid1 {
  width: 16.6%;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.griditems .grid1 h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  text-align: left;
}

.grid1 .star {
  font-size: 19px;
  color: var(--color-secondary);
}

.griditems .grid1 p {
  margin: 0;
  font-size: 16px;
}

.griditems .grid p {
  margin: 0;
  font-size: 16px;
}

.griditems .grid2 {
  width: 33.3%;
  padding: 0 24px;
  display: flex;
}

.griditems .grid3 {
  width: 33.3%;
  padding: 0 24px;
  display: flex;
}

hr {
  margin: 24px 0 48px 0;
}


.grid-image {
  max-width: 128px;
  padding: 0 16px 0 0;
  text-align: center;
  margin: 0;
}